<section class="bg-slate-100 rounded-md my-4 p-4 w-[90%]  mx-auto shadow-md ">
    <h1 class="text-emerald-400 font-black text-4xl " >Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()" >
        <div class="my-3">


            @let emailFormControl = loginForm.get('email');

            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 "> Email:</label>
            <input  [class]="{
                'my-valid':!emailFormControl?.errors && (emailFormControl?.touched || emailFormControl?.dirty),
                'my-invalid':emailFormControl?.errors && (emailFormControl?.touched || emailFormControl?.dirty),
            }"    type="email" id="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
       @if (emailFormControl?.errors && emailFormControl?.touched){
        <div class="flex p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
              <span class="font-medium">please check errors:</span>
                <ul class="mt-1.5 list-disc list-inside">
                 @if (loginForm.get('email')?.getError('Required')){<li>Email is Required</li>}
                 @if (loginForm.get('email')?.getError('email')){<li>Email format is not correct </li>}                                                        
              </ul>
            </div>
        </div>
        
       }
      </div>
    
        <div class="my-3">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 "> password:</label>
            <input type="password" id="password"  formControlName="password"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
        </div>
    
    <button [disabled]="loginForm.invalid" class="my-btn  disabled:bg-slate-200 ">
       @if(!loading)  {Login<span><i class="fa-solid fa-arrow-right-to-bracket"></i></span>}
      
       @if (loading) {<span><i class="fa-solid fa-circle-notch fa-spin"></i></span>}
    </button>
    </form>
    </section>
    